.naav_container__trigger {
    position: fixed;
    height: 100vh;
    /* background-color: rgba(255, 0, 0, 0.178); */
    left: 0;
    width: 150px;
    z-index: 9999;
}
.naav_container__trigger_txt {
    position: fixed;
    color: rgba(245, 245, 245, 0.747);
    bottom: 1.5em;
    left: 1.5em;
    
}
.naav_container_bar__label {
    position: absolute;
    width: max-content;
    color: rgb(216, 216, 216);
    margin-left: 1em;
    z-index: 9999;
    transform: translateY(-50%);
    padding: .5em 1em;
    background-color: rgba(0, 0, 0, 0.527);
    border: 1px #a78bfa8f solid;
    backdrop-filter: blur(3px);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.naav_container {
    z-index: 9999;
    position: fixed;
    height: 100vh;
    /* background-color: rgba(255, 0, 0, 0.178); */
    left: 1em;
    width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s;
}
.naav_container_bar {
    position: relative;
width: 100%;
background-color: rgba(255, 255, 255, 0.171);
height: 80%;
border-radius: 999px;
}
.naav_container_bar_progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ef8cfa;
    background-image: linear-gradient(90deg, #ef8cfa 0%, #a78bfa 100%);
    border-radius: 999px;
}
.oopened {
    width: 2px;
    transform: translateX(-50%);
}