.cursor {
    border-radius: 999px;
    /* border: 1px whitesmoke solid; */
    width: 50px;
    height: 50px;
    position: fixed;
    pointer-events: none;
    background-color: #a78bfa15;
    z-index: 999999;
    backdrop-filter: blur(.5px);
}

.cursor:before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-image: url("../../assets/light.svg");
    opacity: .1;
    mix-blend-mode: soft-light;
}